/**
 * Copyright © 2015 ebizmarts. All rights reserved.
 * See LICENSE.txt for license details.
 */

.sagepaysuite-payment-icon {
    max-width: 100px;
}

#sagepaysuiteserver_embed_iframe_container .main-iframe {
    width: 100%;
    border: 0 none;
    height: 1100px;
}
