<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ebizmarts. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <sagepaysuiteform>
                <active>1</active>
                <model>Ebizmarts\SagePaySuite\Model\Form</model>
                <order_status>pending</order_status>
                <title>Sage Pay FORM</title>
                <allowspecific>0</allowspecific>
            </sagepaysuiteform>
            <!--<sagepaysuitedirect>-->
                <!--<active>1</active>-->
                <!--<model>Ebizmarts\SagePaySuite\Model\SagepayDIRECT</model>-->
                <!--<order_status>pending</order_status>-->
                <!--<title>SagePay DIRECT</title>-->
                <!--<allowspecific>0</allowspecific>-->
            <!--</sagepaysuitedirect>-->
            <!--<sagepaysuitepi>-->
                <!--<active>1</active>-->
                <!--<model>Ebizmarts\SagePaySuite\Model\SagepayPI</model>-->
                <!--<order_status>pending</order_status>-->
                <!--<title>SagePay PI</title>-->
                <!--<allowspecific>0</allowspecific>-->
            <!--</sagepaysuitepi>-->
        </payment>
    </default>
</config>
