<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ebizmarts. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	
	<type name="Magento\Customer\Model\AccountManagement">
        <plugin name="sagepaysuiteaccountmanagement" type="Ebizmarts\SagePaySuite\Model\Plugin\AccountManagement" sortOrder="10"/>
    </type>

    <type name="Ebizmarts\SagePaySuite\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Ebizmarts\SagePaySuite\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SagePaySuiteLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="ServerRequest" xsi:type="object">Ebizmarts\SagePaySuite\Model\Logger\ServerRequest</item>
                <item name="ServerNotify" xsi:type="object">Ebizmarts\SagePaySuite\Model\Logger\ServerNotify</item>
                <item name="PIRequest" xsi:type="object">Ebizmarts\SagePaySuite\Model\Logger\PIRequest</item>
            </argument>
        </arguments>
    </type>
</config>